*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{ 
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 18%, rgba(0,212,255,1) 88%);
	/* box-shadow: 0px -10px 20px  rgb(86, 192, 227) inset, 0px 10px 20px  rgb(86, 192, 227) inset; */
	color: white;
}
#header{
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 18%, rgba(0,212,255,1) 88%);
	/* box-shadow: 0px -10px 20px  rgb(86, 192, 227) inset, 0px 10px 20px  rgb(86, 192, 227) inset; */

}
.home-row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px 100px 160px 100px;
}
.img-container{
	margin-top: 5%;
	flex-basis: 15%;
}
.img-container i{
	position: absolute;
	right: 20%;
	top: 25%;
}
.img-ava{
	font-size:150px;
	display: block;
    margin-top: 100px;
}
.container{
	padding: 10px 10%;
}
nav{
	background: linear-gradient(90deg, rgba(2,0,36,1) 15%, rgba(2,0,36,1) 15%, rgba(2,0,36,1) 50%, rgba(2,0,36,1) 89%, rgb(5, 5, 5) 100%);
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logo{
	margin-left: 3.5%;
    width: 100px;
	height: 80px;
	padding: 3px 4px;
}
nav ul{
	padding-right: 8%;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 30px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}
 nav ul li a.header::after{
	content: '';
	width: 100%;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -6px;
}
nav ul li a::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}
.header-text{
	margin-top: 10%;
	font-size: 30px;
}
.color-sub-title{
	/* text-shadow: 1px 1px 1px #00090b, 0 0 2px #000102, 0 0 20px #29abcb; */

}
.header-text h1{
	margin-top: 20px;
	font-size: 60px;
	margin-left: 20px;
	
}
.header-text .first-text{
	font-family: "Franklin Gothic Medium";
	margin-bottom: 30px;

}
span .color-sub-title{
	color:#43c4ee ;
}
.home-sub-title{
	margin: 15px 315px 0px 20px;
	font-size: 19px;
	font-family: "Futara";
}
/*--About Section starts here--*/
#about{
	background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 50%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
	padding: 60px 60px;
	color: #ababab;
	/* box-shadow: 0px -10px 20px  rgb(86, 192, 227) inset, 0px 10px 20px  rgb(86, 192, 227) inset; */
}
#about h1{
	text-align: left;
	color: white;
	text-align: center;
	/* text-shadow: 1px 1px 2px #43c4ee, 0 0 25px #43c4ee, 0 0 5px #43c4ee; */

}
#about p{
	text-align: justify;
}

.about-doc{
	font-family: "Futara";
}
 .about-doc-mid span{
	color: #43c4ee;
	font-family: "Franklin Gothic Medium";
}
.about-row .about-text{
	margin-bottom: 30px;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-row{
	margin: 2% 10%;
	font-size: 24px;
	color: white;
}
.about-col-2{
	margin-bottom: 14%;
	margin-left: 0;
}
.sub-title{
	font-size: 60px;
	font-weight: 600;
	color: white;
}
.card{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.card h3{
	/* text-shadow: 1px 1px 2px #43c4ee, 0 0 25px #43c4ee, 0 0 5px #43c4ee; */
	margin: 10px 0;
}

.card .education{
	width: 50%;
	padding-right: 0%;

}
.card .skills{
	margin-left: 2%;
	width: 50%;
}
.card .education ul span,
.card .skills ul span
{
	color: #43c4ee;
	/* color: #61b752; */
	font-size: 19px;

}
.card .education ul .span-small,
.card .skills ul .span-small{
	font-size: 17px;
	color: #b6b6b6;
}
.card .education ul,
.card .skills ul  {
font-size: 17px;
}
.card .education ul li,
.card .skills ul li{
  list-style-type: none; 
  position: relative;
  padding-left: 15px;
  padding-bottom: 15px;
}
.card .education ul li::before,
.card .skills ul li::before{ 
	content: "\25BA \0020";
	font-size: 10px;
	position: absolute;
	top: 5px;
	left: -10px;
}
.publications{
	margin-top: 7%;
}
.publications h3{
	/* text-shadow: 1px 1px 2px #43c4ee, 0 0 25px #43c4ee, 0 0 5px #43c4ee; */

	text-align: left;
	margin-bottom: 10px;
	margin-top: 5px;
	color: #43c4ee;
}
.publications p{
	margin-bottom: 18px;
	font-size: 20px;
	font-family: "Futara";


}
.publications p a{
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	font-family: "Futara";

}
.publications p a:hover{
	color: #43c4ee;
	transition: 0.5s ;
}
.publications p span{
	font-style: italic;

}
.tab-titles{
	display: flex;
	margin: 20px 0 20px;
}
.tab-links{
	margin-right: 70px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 50%;
}
.tab-contents ul li{
	list-style: none;
	margin: 10px 0px;
	color: white;
}
#experience.tab-contents ul li{
	margin: 10px 120px;
}
#education.tab-contents ul li{
	margin-top: 10px;
	margin-bottom: 10x;
	margin-left: 280px;
}
.tab-contents ul li span{
	color: #43c4ee;
	font-size: 18px;
}
.tab-contents{
		display: none;
}
.tab-contents.active-tab{
	display: block;
}
.skill{
	font-size: 20px;
}
.skill .span-small{
	font-size: 17px;
	color: #b6b6b6;
}
/*--About Section ends here--*/

/*-- Services section start here--*/
#services{
	
	padding: 30px 0;
}
#services h1{
	margin-top: 4%;
	margin-bottom: 7%;
	text-align: center;
	/* text-shadow: 1px 1px 1px #43c4ee, 0 0 5px #43c4ee, 0 0 0px #43c4ee; */

}
.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.services-list div{
	background: #03161c;
	padding: 40px 25px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 10px;
	transition: 0.5s, transform 0.5s;
}
.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}
.services-list div h2{
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 15px ;
}
.services-list div a{
	font-size: 12px;
	display: inline-block;
	margin-top: 10px;
	color: white;
	text-decoration: none;
}
.services-list div:hover{
	background: #43c4ee;
	transform: translateY(-10px);
	color: black;
}
.services-list h2{
	text-align: center;
}
.services-list h2 span{
	text-align: center;
	margin: auto;
}
.services-list p{
	text-align: center;
	margin-bottom: 50px ;
}
/*-- Services section ends here--*/

/*-- Portfolio section starts here--*/
#portfolio .js-portfolio{
	padding: 50px 0;
}
#portfolio .container-portfolio{
	padding: 50px 10%;
}
#portfolio h2{
	/* text-shadow: 1px 1px 1px #43c4ee, 0 0 5px #43c4ee, 0 0 0px #43c4ee; */
	text-align: center;
}
#portfolio h4{
	text-shadow: 1px 1px 2px #eef3f4, 0 0 25px #43c4ee, 0 0 5px #43c4ee;
	text-align: center;
	font-size: 30px;
	color: #0c0c0c;
	text-decoration: underline;
}
.js-portfolio .work-list{
	display: grid;
	grid-template-columns: repeat(3,minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.container-portfolio .work-list{
	display: grid;
	grid-template-columns: repeat(3,minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
	justify-content: center;
	align-content: center;
}
.ux-ui-portfolio .work-list{
	display: grid;
	grid-template-columns: repeat(3,minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.js-portfolio .work,
.container-portfolio  .work,
.ux-ui-portfolio .work{
	border-radius: 10px;
	position: relative;
	overflow: hidden; 

}
.js-portfolio .work img,
.container-portfolio  .work img,
.ux-ui-portfolio  .work img{
	width: 100%; 
	border-radius: 10px;
	display: block;
	transition: 0.5s;
}
.js-portfolio.work p,
.container-portfolio.work p,
.ux-ui-portfolio.work p{
	text-align: justify;
	text-align-last: center;
}
.js-portfolio .layer,
.container-portfolio .layer,
.ux-ui-portfolio .layer{
	width: 100%;
	height: 0%;
	background: linear-gradient(rgb(0, 0,0, 0.6),#43c4ee); 
	border-radius: 10px;
	left: 0;
	bottom: 0;
	position: absolute;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 0 40px;
	justify-content: center;
	text-align: center;
	font-size: 15px;
	align-items: center;
	transition: 0.5s;
}
.js-portfolio .layer h3,
.container-portfolio .layer h3,
.ux-ui-portfolio .layer h3 {
	font-weight: 500;
	margin-bottom: 20px;
}
.js-portfolio .layer a,
.container-portfolio .layer a,
.ux-ui-portfolio .layer a{
	margin-top: 20px;
	font-size: 18px;
	color: #43c4ee;
	text-decoration: none;
	background: white;
	border-radius:50% ;
	line-height: 60px;
	width: 60px;
	height: 60px;
	text-align: center;
}
.js-portfolio .work:hover img,
.container-portfolio .work:hover img,
.ux-ui-portfolio .work:hover img{
	transform: scale(1.1);

}
.js-portfolio .work:hover .layer,
.container-portfolio .work:hover .layer,
.ux-ui-portfolio .work:hover .layer{
	height: 100%;
}
.btn{
	display: block;
	padding: 14px 50px ;
	margin: 15px auto;
	text-decoration: none;
	color: white;
	border-radius: 6px;
	transition: 0.5s;
	width: fit-content;
	border: 1px solid #43c4ee;
}
.btn:hover{
	background: #43c4ee;
}
#portfolio .btn{
	margin-top: 3.5%;
	border: 1px solid #ffffff;
	box-shadow: 0px -10px 20px  rgb(86, 192, 227) inset, 0px 10px 20px  rgb(86, 192, 227) inset;
}
/*-- Portfolio section ends here--*/

/*---Contact Section Starts here--*/
.contact-left{
	flex-basis: 35%;
}
.contact-right{
	flex-basis: 65%;
}
.contact-left p{
	margin-top: 30px;
	font-size: 20px;
}
.contact-left p i{
	color: #43c4ee;
	margin-right: 15px;
	font-size: 25px;
}
.social-icons ul {
	margin-top: 30px;
}
.social-icons a {
	font-size: 30px;
	margin: 0 10px;
	color:#43c4ee ;	
	text-decoration: none;
	color:white ;
}
.social-icons ul li{
	list-style: none;
	display: inline-block;
	transition:transform 0.5s;
}
.social-icons ul li:hover{
	transform: translateY(-5px);
}
.social-icons a:hover{
	color:#43c4ee ;
}
.btn.btn2{
	display: inline-block;
	background-color: #43c4ee;
	margin-top: 30px;
}
.contact-right form{
	width: 100%;
}
form input, form textarea{
	width: 100%; 
	border: 0;
	outline: none;
	margin: 15px 0;
	background: #03161c;
	padding: 15px;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}
form .btn2{
	padding: 14px 60px;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}
.copyright{
	width: 100%;
	text-align: center;
	background: #03161c;
	padding: 25px 0;
	font-weight: 300;
	margin-top: 20px;
}
.copyright i{
	color:#43c4ee ;
}
/*---Contact Section ends here--*/

/*-----CSS for small screen-----*/
nav .fa-solid{
	display: none;
}
@media only screen and (max-width: 1065px){
	.img-container i{
	right: 15%;
	top: 7%;	
	}
	.home-row .home-sub-title {
		font-size: 27px;
		margin: 15px 25px 0px 20px
	}
	.services-list div{
		padding: 40px 10px;
	}
}
@media only screen and (max-width: 820px){
	.img-container i{
	right: 15%;
	top: 14%;
	}
}
@media only screen and (max-width: 970px){
	.header-text {
		margin-top: 40%;
	}
	.header-text h1 {
		font-size: 40px;
	}
	.home-row .home-sub-title {
		font-size: 24px;
	}
	nav {
		padding: 10px 50px 10px 10px;
	}
	.logo{
		width: 80px;
		height: 60px;
	}
	 nav ul li a.header::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -6px;
	}
	nav ul li a::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
	}
	nav ul li a:hover::after{
		width: 100%;

	}
	nav .fa-solid{
		display: block;
		font-size: 25px;
	}
	nav ul{
		background: #03161c;
		position: fixed;
		top: 0; 
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2; 
		transition: 0.5s; 
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fa-solid{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	#about {
		padding: 50px 50px;
	}
	.about-row {
		margin: 2% 4%;
		font-size: 25px;
		color: white;
	}
	.card {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.card .education {
		width: 100%;
		padding: 0%;
	}
	.card .skills {
		width: 100%;
		padding: 0%;
	}
	
	.card .education ul li, .card .skills ul li {
		list-style-type: none;
		position: relative;
		padding-left: 1px;


	}
	
	.js-portfolio .work-list,
	.container-portfolio .work-list,
	.ux-ui-portfolio .work-list {
		display: grid;
		grid-template-columns: repeat(2,minmax(250px, 1fr));
	}
	#contact .row{
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 650px){
	.header-text{
		margin-top: 55%;
		margin-bottom: 40%;
		margin-left: 5%;
		font-size: 28px;
	}
	nav {
		padding: 5px 50px 1px 10px;

	}
	.logo{
		width: 70px;
		height: 60px;
	}
	.home-row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		justify-content: center;
		padding: 50px 20px 100px 30px;
	}
	.home-sub-title {
		margin:25px 25px 0px 20px ;
	}
	 nav ul li a.header::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -6px;
	}
	nav ul li a::after{
	content: '';
	width: 0%;
	height: 3px;
	background: #43c4ee;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
	}
	nav ul li a:hover::after{
		width: 100%;
	}
	.header-text h1{
		font-size: 30px;
	}
	nav .fa-solid{
		display: block;
		font-size: 25px;
	}
	nav ul{
		background: #03161c;
		position: fixed;
		top: 0; 
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2; 
		transition: 0.5s; 
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fa-solid{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	}
	.sub-title{
		font-size: 40px;
	}
	.about-col-1{
		flex-basis: 100%;
	}
	.about-col-1{
		margin-bottom: 30px;
	}
	.about-col-2{
		font-size: 20px;
	}
	#about {
		padding: 30px 30px;
	}
	.about-row {
		margin: 2% 4%;
		font-size: 20px;
		color: white;
	}
	.card {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.card .education {
		width: 100%;
		padding: 1%;
	}
	.card .skills {
		width: 100%;
		padding: 0%;
	}
	
	.card .education ul li, .card .skills ul li {
		list-style-type: none;
		position: relative;
		padding-left: 1px;
	}
	.services-list div {
		padding: 40px 53px;
	}
	.js-portfolio .work-list,
	.container-portfolio .work-list,
	.ux-ui-portfolio .work-list {
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
	}
	
	.tab-links{
		font-size: 15px;
		margin-right: 20px;
	}
	.tab-contents ul li span{
		font-size: 14px;
	}
	.tab-contents ul li{
	list-style: none;
	margin: 10px 0px;
	color: white;
	}
	.skill{
	font-size: 17px;
	}
	#experience.tab-contents ul li{
		margin: 10px 0px;
	}
	#education.tab-contents ul li{
		margin: 10px 0px;
	}
	.contact-left, .contact-right{
		flex-basis: 100%;
	}
	.copyright{
		font-size: 14px;
	}
	.img-container i{
		font-size: 130px;
		right: 13%;
		top: 4%;
	}
}
#msg{
	color: #61b752;
	margin-top: -8px;
	display: block;
}
























